<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Binance Bot</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline text-right" action="/logout" method="get">
          <button type="submit" class="btn btn-default">Выход</button>
        </form>
      </div>
    </div>
  </div>
</header>

<main id="bb">
  <div class="container" v-cloak>

    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="tab" href="#modules">Модули</a></li>
      <li><a data-toggle="tab" href="#symbols">Валютные пары</a></li>
    </ul>

    <div class="tab-content">
      <div id="modules" class="tab-pane fade in active">
        <!-- Список модулей -->
        <button class="btn btn-xs btn-primary" @click="refreshModules">
          <i class="glyphicon glyphicon-refresh"></i> Обновить
        </button>
        <div class="panel-group">
          <div class="panel panel-primary" v-for="(module, name) in modules">
            <div class="panel-heading" style="position: relative">
              <div class="panel-title">
                {{ module.title }}
                <span class="label label-success" v-if="module.status == 'online'">Модуль запущен</span>
                <span class="label label-danger" v-if="module.status != 'online'">Модуль остановлен</span>
              </div>
              <a :href="'#panelModule' + hash(name)" data-toggle="collapse"
                 style="position: absolute;top:0;left:0;right:0;bottom:0;"></a>
            </div>
            <div :id="'panelModule' + hash(name)" class="panel-collapse collapse">
              <div class="panel-body">
                <button class="btn btn-success" @click="startModule(name)">Запустить</button>
                <button class="btn btn-danger" @click="stopModule(name)">Остановить</button>
                <hr>
                <button class="btn btn-xs btn-success" data-toggle="modal" :data-target="'#addParams' + hash(name)"
                        @click="newModuleParameters.module = module">
                  <i class="glyphicon glyphicon-plus"></i> Добавить валютную пару
                </button>
                <button class="btn btn-xs btn-warning" @click="includeAll(module)">Добавить все</button>
                <button class="btn btn-xs btn-primary" @click="activateAll(module)">Активировать все</button>
                <button class="btn btn-xs btn-danger" @click="deactivateAll(module)">Отключить все</button>
                <button class="btn btn-xs btn-danger" @click="deleteAllModuleParameters(module)">Удалить все</button>
                <div class="panel-group" v-for="currency in module.params">
                  <div class="panel panel-success">
                    <div class="panel-heading" style="position: relative">
                      <h3 class="panel-title">
                        {{ currency.symbol.base }}/{{ currency.symbol.quot }}
                        <span class="label label-success" v-if="module.status == 'online' && currency.active">"{{ module.title }}" работает</span>
                        <span class="label label-danger" v-else>"{{ module.title }}" не работает</span>
                      </h3>
                      <a :href="'#panelModule' + module.id + currency.symbol.symbol" data-toggle="collapse"
                         style="position: absolute;top:0;left:0;right:0;bottom:0;"></a>
                    </div>
                    <div :id="'panelModule' + module.id + currency.symbol.symbol" class="panel-collapse collapse">
                      <div class="panel-body">
                        <form class="form-horizontal" @submit.prevent>
                          <div class="form-group" v-for="param in currency.params">
                            <label class="col-sm-2 control-label">{{ param.title }}</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" :name="param.key"
                                     :placeholder="param.title"
                                     v-model="param.value"
                                     required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Вкл/Выкл</label>
                            <div class="col-sm-10">
                              <input type="checkbox" name="active" v-model="currency.active">
                              <span><i>(При переключении чекбокса статус в заголовке меняется, но всё равно нужно сохранить)</i></span>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-success"
                                      @click="saveModuleParameters(currency)">
                                Сохранить
                              </button>
                              <button type="submit" class="btn btn-danger"
                                      @click="deleteModuleParameters(module, currency)">
                                Удалить
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="symbols" class="tab-pane fade">
        <!-- Настройки валютных пар -->
        <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#addSymbolModal">
          <i class="glyphicon glyphicon-plus"></i> Добавить
        </button>
        <table class="table table-responsive">
          <tr>
            <th>ID</th>
            <th>Базовая валюта</th>
            <th>Квот. валюта</th>
            <th>Действия</th>
          </tr>
          <tr v-for="symbol in symbols">
            <td>{{ symbol.id }}</td>
            <td>{{ symbol.base }}</td>
            <td>{{ symbol.quot }}</td>
            <td>
              <button class="btn btn-xs btn-danger" @click="deleteSymbol(symbol)">
                <i class="glyphicon glyphicon-remove"></i> Удалить
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="addSymbolModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Создание новой валютной пары</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" @submit.prevent="createSymbol($event)" id="newSymbolForm">
            <div class="form-group">
              <label class="col-sm-4 control-label">Валютная пара</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="base" placeholder="Баз. валюта"
                       v-model="newSymbol.base"
                       required>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="quot" placeholder="Квот. валюта"
                       v-model="newSymbol.quot"
                       required>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" form="newSymbolForm">Создать</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" tabindex="-1" role="dialog" :id="'addParams' + hash(moduleName)" v-for="(params, moduleName) in moduleParametersDefaults">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Добавление валютной пары</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" @submit.prevent="createModuleParameters(moduleName)"
                :id="'newParams' + hash(moduleName)">
            <div class="form-group">
              <label class="col-sm-4 control-label">Валютная пара</label>
              <div class="col-sm-8">
                <select class="form-control" name="symbol" placeholder="Валют. пара"
                        v-model="newModuleParameters[moduleName].symbol"
                        required>
                  <option :value="symbol" v-for="symbol in symbols">{{ `${symbol.base}/${symbol.quot}` }}</option>
                </select>
              </div>
            </div>
            <div class="form-group" v-for="(param, paramKey) in params.params">
              <label class="col-sm-4 control-label">{{ param.title }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" :name="paramKey"
                       :placeholder="param.title"
                       v-model="newModuleParameters[moduleName].params[paramKey].value"
                       required>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" :form="'newParams' + hash(moduleName)">Добавить
          </button>
        </div>
      </div>
    </div>
  </div>

</main>

<footer>
  <div class="container">
    <!---->
  </div>
</footer>

<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>

<!-- compiled with laravel mix -->
<script src="dist/js/manifest.js"></script>
<script src="dist/js/vendor.js"></script>
<script src="dist/js/app.js"></script>

</body>
</html>