<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Binance Bot</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="header">
  <div class="container">
    <h1 class="header__title">Binance Bot</h1>
  </div>
</header>

<main>
  <div class="container" id="bb" v-cloak>
    <!-- Список модулей -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Модули
          <button class="btn btn-xs btn-primary" @click="refreshModules">
            <i class="glyphicon glyphicon-refresh"></i>
          </button>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4" v-for="(module, name) in modules">
            <div class="module-info">
              <span class="module-info__status"
                    v-bind:class="(module.status == 'online') ?
                      'module-info__status--enabled' :
                      'module-info__status--disabled'">
                <i class="glyphicon glyphicon-ok" v-show="module.status == 'online'"></i>
                <i class="glyphicon glyphicon-remove" v-show="module.status != 'online'"></i>
              </span>
              <span class="module-info__title">{{ module.title }}</span>
              <span v-show="module.status == 'online'">(работает)</span>
              <span v-show="module.status != 'online'">(не работает)</span>
              <div class="module-info__buttons">
                <button class="btn btn-success">Запустить все</button>
                <button class="btn btn-danger">Остановить все</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Настройки валютных пар -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Валютные пары</h3>
      </div>
      <div class="panel-body">

        <div class="panel panel-primary" v-for="currency in currencies">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ currency.quot }}/{{ currency.base }}
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-6" v-for="(active, name) in currency.modules">
                <div class="alert" role="alert" v-bind:class="[ active ? 'alert-success' : 'alert-danger' ]">
                  {{ modules[name].title }} -
                  <span v-show="active">активно</span>
                  <span v-show="!active">неактивно</span>
                </div>
              </div>
            </div>
            <form class="form-horizontal" @submit.prevent="currencySubmit">
              <div class="form-group">
                <label class="col-sm-2 control-label">Валютная пара</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="quot" placeholder="Квот. валюта" v-model="currency.quot"
                         required>
                </div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="base" placeholder="Баз. валюта" v-model="currency.base"
                         required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Сумма ордера</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="sum" placeholder="Сумма ордера" v-model="currency.sum"
                         required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Коэфф. для покупки</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="buy" placeholder="Коэфф. для покупки"
                         v-model="currency.buy">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Коэфф. для продажи (верх)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="sellHigh" placeholder="Коэфф. для продажи (верх)"
                         v-model="currency.sellHigh">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Коэфф. для продажи (низ)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="sellLow" placeholder="Коэфф. для продажи (низ)"
                         v-model="currency.sellLow">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" class="btn btn-success" name="save" value="Сохранить">
                  <input type="submit" class="btn btn-primary" name="on" value="Запуск торговли">
                  <input type="submit" class="btn btn-warning" name="off" value="Остановка торговли">
                  <input type="submit" class="btn btn-danger" name="delete" value="Удалить">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <!---->
  </div>
</footer>

<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="dist/app.bundle.js"></script>
</body>
</html>